version: "3.8"
services:
  qualicrop:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /media:/media:rw
      - /run/udev:/run/udev:ro
      - /dev/input:/dev/input
      - /dev:/dev
      - ../src:/workspace/src
    environment:
      - DEBIAN_FRONTEND=noninteractive
    runtime: nvidia
    command: /bin/bash
    stdin_open: true
    tty: true
    network_mode: "host" 
    privileged: true
    